h2 .fa-arrow-left {
    margin-right: 0.25rem;
}

.modal-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-body .text-muted:last-child {
    margin-bottom: -1rem;
}

table .nowrap {
    white-space: nowrap;
}
table pre {
    margin-top: 0.25rem;
    margin-bottom: 0;
}
td .list-inline {
    margin-bottom: 0;
}

pre.shell {
    background-color: #444;
    border-radius: .25rem;
    color: #ddd;
    padding: 10px;
    white-space: pre-wrap;
}
pre.shell b {
    color: white;
}

ul.traceback {
    list-style: none;
    padding: 0.5em;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: .25rem;
    color: #444;
}
ul.traceback li {
    white-space: pre-wrap;
}

.form-submit-only {
    display: inline-block;
}
.form-text.text-danger {
    color: #dc3545 !important;
}

.pagination input {
    border-radius: 0;
    width: 70px;
}
.pagination form:not(:first-child) input {
    border-left: 0;
}
.pagination form:first-child input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.pagination form:last-child input {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.footer {
    margin: 0px;
    color: #9aa0ac;
    font-size: 0.875rem;
    background-color: #ffffff !important;
    width: 100%;
    height: 65px;
}
