{% extends "base.html" %}
{% import 'users/macros/directory_group.html' as Group %}

{% block nav %}
<header></header>
{% endblock %}

{% block body %}

{% if not groups %}
<p>{{ _("There are no registered groups yet.") }}</p>
{% else %}
<p>{{_("Video sessions will run on the 9th!")}}</p>
<div class="row mt-3">
    {% for group in groups %}
    {{ Group.render(group, running_meetings)}}
    {% endfor %}
</div>

{% endif %}

<a href="{{ url_for('users.register') }}" class="btn btn-lg btn-primary lbt-raven-background"><img src="{{ url_for('static', filename='images/raven.svg') }}" class="mr-2" style="width: 2rem">{{ _("Log in with Raven") }}</a>

{% endblock %}
