{% extends "base.html" %}

{% import 'users/macros/group.html' as Group %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascripts/home.js') }}"></script>
{% endblock %}

{% block body %}

{% set errors = errors | default(none) %}
{% set enable_room_creation = settings | selectattr("name", "equalto", "enable_room_creation") | first %}
{% set enable_room_viewing = settings | selectattr("name", "equalto", "enable_room_viewing") | first %}
{% set enable_group_creation = settings | selectattr("name", "equalto", "enable_group_creation") | first %}

<p>Hello, <b>{{ user.full_name }}</b>.</p>
{% if not enable_room_viewing.enabled %}
<section class="row col">
    {% include 'users/includes/group_info.html' %}
</section>
<section class="row">
    <!-- jinja still thinks an array of empty arrays should be iterated over -->
    {%- for group_col in user.groups | slice(2) %}
    <article class="col-lg-6">
        {%- for group in group_col %}
        {{ Group.render(group) }}
        {%- endfor %}
    </article>
    {% else %}
    <article class="col">
        <p>{{ _("You currently have no registered groups.") }}</p>
    </article>
    {%- endfor %}
</section>

<section class="row col">
    {% if enable_group_creation.enabled %}
    <a href="{{ url_for('users.register_group') }}" class="btn btn-outline-primary">{{ _("Create group") }}</a>
    {% endif %}
</section>

{% else %}
<section class="row">
    <article class="mb-3 col-lg-6">
        {% include 'users/includes/group_info.html' %}

        {%- for group in user.groups %}
        {{ Group.render(group) }}
        {%- endfor %}

        {% if enable_group_creation.enabled %}
        <a href="{{ url_for('users.register_group') }}" class="btn btn-outline-primary">{{ _("Create group") }}</a>
        {% endif %}
    </article>
    <article class="mb-3 col-lg-6">
        {% if enable_room_viewing.enabled %}
        {% include 'users/includes/view_personal_rooms.html' %}
        {% endif %}
    </article>
</section>

{% endif %}
<!-- only render if enabled in case someone tries to be naughty and activates the modal via JS -->
{% if enable_room_creation.enabled %}
{% include 'users/includes/create_room_modal.html' %}
{% endif %}

{% endblock %}