{% extends "base.html" %}

{% block body %}

<p>Hello, <b>{{ user.full_name }}</b>.</p>

{% if not user.groups %}
<p>{{ _("You currently have no registered groups.") }}</p>
{% else %}
<div class="row">
    {% for group in user.groups %}
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h4 style="overflow-wrap:anywhere;" class="card-title">{{ group.name }}</h4>
                {% if group.logo != config["DEFAULT_GROUP_LOGO"] %}
                <div id="card-intro" class="d-flex justify-content-between align-items-center">
                    {% set current_logo = "images/{}".format(group.logo) %}
                    <div class="ml-3 order-1 d-flex align-items-center justify-content-center"
                        style="width:14vmax;height:14vmax;max-width:128px;max-height:128px;">
                        <img class="img-fluid img-thumbnail" style="max-height:100%"
                            src="{{ url_for('static', filename=current_logo) }}" alt="Group logo" />
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{{ url_for('groups.home', group_id=group.id) }}" class="btn btn-outline-primary"><i class="fa fa-home"></i>   Home page</a>
                <a href="{{ url_for('groups.manage', group_id=group.id) }}" class="btn btn-outline-primary"><i class="fa fa-cog"></i>   Settings</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% set enable_room_creation = settings | selectattr("name", "equalto", "enable_room_creation") | first %}
{% if enable_room_creation.enabled %}
<a href="{{ url_for('users.register_group') }}" class="btn btn-outline-primary">{{ _("Create a new group") }}</a>
{% endif %}
{% endblock %}
