{% extends "base.html" %}

{% block body %}
<form method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="group_name">Group name</label>
        <input type="group_name" id="group_name" name="group_name" placeholder="e.g. My awesome super cool group!"
            class="form-control{% if errors.group_name is defined %} is-invalid{% endif %}" value="{{ group_name }}"
            required>
        {%- if errors.group_name is defined %}
        <small class="invalid-feedback">{{ errors.group_name }}</small>
        {%- endif %}
        <small class="form-text text-muted">This is the name of your group that will be displayed on your home page.</small>
    </div>

    <div class="form-group">
        <label for="group_short_name">Group short name</label>
        <input type="group_short_name" id="group_short_name" name="group_short_name" placeholder="e.g. SRCF"
            class="form-control{% if errors.group_short_name is defined %} is-invalid{% endif %}"
            value="{{ group_short_name }}" required>
        {%- if errors.group_short_name is defined %}
        <small class="invalid-feedback">{{ errors.group_short_name }}</small>
        {%- endif %}
        <small class="form-text text-muted">This is the short name or acronym unique to your group. Your short name determines your group website's URL, for example  {{url_for("groups.home", group_id="srcf", _external=true)}} </small>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-outline-primary" value="Create group">
    </div>
</form>


{% endblock %}
