<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    <meta property="og:title" content="{{ _("SRCF Events") }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="{{ _("This is a website for event management using SRCF Timeout") }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
    <meta property="og:image" content="{{ url_for('static', filename='favicon.svg') }}" />
    {% endblock %}

    {% block title %}
    <title>{{ _("SRCF Events") }} &mdash; {% if page_title %}{{ page_title }}{% endif %}</title>
    {% endblock %}

    <link href="https://www.srcf.net/_srcf/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.srcf.net/_srcf/vendor/css/font-awesome.min.css" rel="stylesheet">

    {% block static %}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
    <link href="{{ url_for('static', filename='favicon.svg') }}" rel="icon" type="image/svg">
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% block nav %}
    <header>
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
                <div class="navbar-brand">
                    <a href="{{ url_for('users.home') }}">
                        <img src="https://www.srcf.net/_srcf/images/logo.svg">
                        <span class="d-none d-lg-inline">
                            <span class="text-danger">Student-Run</span>
                            <span class="text-primary">Computing Facility</span>
                        </span>
                        <span class="text-muted d-none d-lg-inline"> &mdash;</span>
                        <span class="text-muted d-none d-md-inline">{{ _("SRCF Events") }}
                        </span>
                    </a>
                </div>
                <ul class="navbar-nav">
                    {% block extra_nav %}{% endblock %}
                    {% if user %}
                    <li class="nav-item dropdown ml-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown">
                            <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i>
                            <span class="d-none d-md-inline">{{ user.full_name }}</span>
                        </a>
                        <div class=" dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('users.profile') }}"><i
                                    class="fa fa-fw fa-id-card mr-3" aria-hidden="true"></i>Profile</a>
                            {% if user.role.value == "admin" %}
                            <a class="dropdown-item" href="{{ url_for('admins.manage') }}"><i
                                    class="fa fa-fw fa-server mr-3" aria-hidden="true"></i>Administration</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="https://docs.srcf.net/timeout/#reporting-problems-and-getting-help"><i
                                    class="fa fa-fw fa-exclamation mr-3" aria-hidden="true"></i>Report problem</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-2" href="{{ url_for('general.logout') }}"><i class="fa fa-fw fa-sign-out"
                                aria-hidden="true"></i>(Log out)</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}

    <main role="main" class="flex-shrink-0">
        <div class="container my-4">
            {% block heading %}
            {%- if page_title is defined %}
            <h2>
                {%- if page_parent is defined %}
                <a href="{{ page_parent }}" title="Back"><i class="fa fa-arrow-left"></i></a>
                {%- endif %}
                {{ page_title }}
                {%- if page_subtitle is defined %}
                <small class="text-muted">{{ page_subtitle }}</small>
                {%- endif %}
            </h2>
            {%- endif %}
            {% endblock %}

            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class=" text-muted">
                {{ _("This service is run by <a href=\"https://www.srcf.net\" target=\"_blank\">the SRCF</a>, a volunteer student society that provides free quality and reliable computing services") }}
                |
                <a href="https://github.com/SRCF/lightbluetent">{{github_rev}}</a>
            </span>
        </div>
    </footer>

    <script src="https://www.srcf.net/_srcf/vendor/js/jquery.min.js"></script>
    <script src="https://www.srcf.net/_srcf/vendor/js/popper.min.js"></script>
    <script src="https://www.srcf.net/_srcf/vendor/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='javascripts/script.js') }}"></script>
    {% block scripts %} {% endblock %}

</body>

</html>
