<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    <meta property="og:title" content="{{ _("SRCF Events") }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="{{ _("This is a website for event management using SRCF Timeout") }}" />
    <meta property="og:url" content="{{ request.base_url }}" />
    <meta property="og:image" content="{{ url_for('static', filename='favicon.svg') }}" />
    {% endblock %}

    {% block title %}
    <title>{{ _("SRCF Events") }} &mdash; {% if page_title %}{{ page_title }}{% endif %}</title>
    {% endblock %}

    <link href="https://www.srcf.net/_srcf/vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://www.srcf.net/_srcf/vendor/css/font-awesome.min.css" rel="stylesheet">

    {% block static %}
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
    <link href="{{ url_for('static', filename='favicon.svg') }}" rel="icon" type="image/svg">
    {% endblock %}

    {% block head %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% block nav %}
    {% include 'shared/header.html' %}
    {% endblock %}

    <main role="main" class="flex-shrink-0">
        <div class="container my-4">
            {% block heading %}
            {%- if page_title is defined %}
            <h2>
                {%- if page_parent is defined %}
                <a href="{{ page_parent }}" title="Back"><i class="fa fa-arrow-left"></i></a>
                {%- endif %}
                {{ page_title }}
                {%- if page_subtitle is defined %}
                <small class="text-muted">{{ page_subtitle }}</small>
                {%- endif %}
            </h2>
            {%- endif %}
            {% endblock %}

            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}

            {% with messages = get_flashed_messages(category_filter=["message"]) %}
            {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
    </main>

    {% include 'shared/footer.html' %}

    <script src="https://www.srcf.net/_srcf/vendor/js/jquery.min.js"></script>
    <script src="https://www.srcf.net/_srcf/vendor/js/popper.min.js"></script>
    <script src="https://www.srcf.net/_srcf/vendor/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='javascripts/script.js') }}"></script>
    {% block scripts %} {% endblock %}

</body>

</html>
