{% extends "base_card.html" %}
{% set wide = true %}

{% block body %}
<h3 class="card-title">Server error</h3>
<p>Something went wrong with that request &ndash; sorry for the inconvenience.</p>
<p>If this message persists, please contact <code>support@srcf.net</code> immediately for assistance.  Please let us know when and what you were trying to do, and include the information below.</p>
<ul class="traceback">
  {%- if tb %}
    {%- for line in tb %}
      <li>{{ line }}</li>
    {%- endfor %}
  {%- else %}
   <li>{{ error.__class__.__name__ }}{{ error.args }}</li>
  {%- endif %}
</ul>
{% endblock %}
