# ignore backup files
*.pyc
*~

# obligatory, for mec
.idea/

# editors
.vscode

# testing
.coverage

# production
production.log
.env

# group logos
lightbluetent/static/images/*
!lightbluetent/static/images/default_room_logo.png
!lightbluetent/static/images/default_group_logo.png
