# ignore backup files
*.pyc
*~

# obligatory, for mec
.idea/

# editors
.vscode

# testing
.coverage

# production
production.log

# society logos
lightbluetent/static/images/*.png
!lightbluetent/static/images/default_logo.png
!lightbluetent/static/images/default_bbb_logo.png
