[Unit]
Description=LBT
ConditionHost=sinkhole

[Install]
WantedBy=default.target

[Service]
Environment=APPLICATION_CONFIG=production
ExecStart=/public/home/mw781/lightbluetent/run.sh
WorkingDirectory=/public/home/mw781/lightbluetent
Restart=always