[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
psycopg2-binary = "*"
Flask-Migrate = "*"
python-ucam-webauth = "*"
Pillow = "*"
gunicorn = "*"
flask-talisman = "*"
Flask-Babel = "*"
Jinja2 = "*"
requests = "*"
xmltodict = "*"

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-flask = "*"

[requires]
python_version = "3.8"
