{% extends "base.html" %}

{% import 'groups/macros/LinkList.html' as LinkList %}
{% from 'rooms/macros/LinkList.html' import match_link as match_link %}

{% block meta %}
{% include 'room_aliases/shared/meta.html' %}
{% if group.logo is not none %}
<meta property="og:image" content="{{ group.logo | responsive_image.main }}" />
{% else %}
<meta property="og:image" content="{{ url_for('static', filename='favicon.svg') }}" />
{% endif %}
{% endblock %}

{% block title %}
<title>{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}</title>
{% endblock %}

{% block static %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
{% if group.logo is not none %}
<link href="{{ group.logo | responsive_image.main }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ group.logo | responsive_image.main }}" rel="icon" type="image/svg">
{% else %}
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ url_for('static', filename='favicon.svg') }}" rel="icon" type="image/svg">
{% endif %}
{% endblock %}

{% block nav %}
<header></header>
{% endblock %}

{% block heading %}
<div></div>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg">
        <div class="card my-3 shadow-sm">
            <h4 class="card-header" style="margin-bottom: 0">{{ room.name }} </h4>
            <div class="card-body">
                {% if group.links %}
                <ul class="mb-0 lbt-icon-ul">
                    {% for link in group.links | sort(attribute='display_order') %}
                    {{ match_link(link) }}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="row no-gutters overflow-hidden">
                    {% if group.logo is not none %}
                    <hr>
                    <div class="col-sm-auto mx-auto mx-md-0 d-flex align-items-center justify-content-center"
                        style="width:100%;max-width:150px;max-height:150px;">
                        <img class="img-fluid rounded" style="max-height:100%" {{ group.logo | responsive_image.img }}
                            alt="Logo" role="img" aria-label="Placeholder: Thumbnail" />
                    </div>
                    {% endif %}
                    <div class="col-sm px-4 mt-3 mt-sm-0">
                        {% if room.description %}
                        <div class="sr-only mb-1 text-muted">{{ _("Room description") }}</div>
                        <div class="card-text mb-auto">
                            {% set desc_paragraphs = room.description.split('\n') %}
                            {% for paragraph in desc_paragraphs %}
                            {% if loop.index == desc_paragraphs | length %}
                            <!-- This is the last paragraph -->
                            <p class="mb-0">{{ paragraph }}</p>
                            {% else %}
                            <p>{{ paragraph }}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        {% include 'room_aliases/shared/join.html' %}
    </div>
</div>
{% endblock %}