{% extends "base.html" %}

{% import 'rooms/macros/LinkList.html' as LinkList %}

{% block meta %}
{% include 'room_aliases/shared/meta.html' %}
<meta property="og:image" content="{{ url_for('static', filename='favicon.svg') }}" />
{% endblock %}

{% block title %}
<title>{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}</title>
{% endblock %}

{% block static %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ url_for('static', filename='favicon.svg') }}" rel="icon" type="image/svg">
{% endblock %}

{% block nav %}
<header></header>
{% endblock %}

{% block heading %}
<div></div>
{% endblock %}

{% block body %}
<section class="row">
    <article class="col-lg">
        <div class="card my-3 shadow-sm">
            <h4 class="card-header" style="margin-bottom: 0">{{ room.name }} </h4>
            <div class="card-body">
                {% if room.links %}
                <ul class="mb-0 lbt-icon-ul">
                    {% for link in room.links | sort(attribute='display_order') %}
                    {{ LinkList.match_link(link) }}
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="row no-gutters overflow-hidden">
                    <div class="col">
                        {% if room.links | selectattr("url") | first and room.description %}<hr>{% endif %}
                        {% if room.description %}
                        <div class="sr-only mb-1 text-muted">{{ _("Room description") }}</div>
                        <div class="card-text mb-auto">
                            {% set desc_paragraphs = room.description.split('\n') %}
                            {% for paragraph in desc_paragraphs %}
                            {% if loop.index == desc_paragraphs | length %}
                            <!-- This is the last paragraph -->
                            <p class="mb-0">{{ paragraph }}</p>
                            {% else %}
                            <p>{{ paragraph }}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-lg">
        {% include 'room_aliases/shared/join.html' %}
    </article>
</section>
{% endblock %}
