<div class="card my-3 shadow-sm">
    <h5 class="card-header">Session times</h5>
    <div class="card-body">
        <h6 class="card-title text-muted">Join the live session</h6>
        <form method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

            {% if room.authentication == authentication.PUBLIC %}

            <div class="form-group">
                <input type="text" class="form-control {% if errors.name is defined %} is-invalid{% endif %}"
                    name="name" id="name" placeholder="Enter your name..."
                    {% if not running %}disabled{% endif %}>{{ name }}</input>
                {%- if errors.name is defined %}
                <small class="invalid-feedback">{{ errors.name }}</small>
                {%- endif %}
            </div>
            <input type="submit" class="btn btn-primary {% if not running %}disabled{% endif %}"
                {% if not running %}style="pointer-events: none;" {% endif %} value="{{ _('Join') }}">

            {% elif room.authentication == authentication.RAVEN %}

            {% if user is none %}
            <p>You must sign in to join this event.</p>
            <a href="{{ url_for('general.log_in_and_redirect_to_room', room_id=room.id) }}"
                class="btn btn-primary {% if not running %}disabled{% endif %}"
                {% if not running %}style="pointer-events: none;" {% endif %}>{{ _("Sign in with Raven") }}</a>
            {% else %}
            <a href="{{ raven_join_url }}" class="btn btn-primary {% if not running %}disabled{% endif %}"
                {% if not running %}style="pointer-events: none;" {% endif %}>{{ _("Join with Raven") }}</a>
            {% endif %}

            {% elif room.authentication == authentication.PASSWORD %}

            <div class="form-group">
                <input type="text" class="form-control {% if errors.name is defined %} is-invalid{% endif %}"
                    name="name" id="name" placeholder="Enter your name..."
                    {% if not running %}disabled{% endif %}>
                {%- if errors.name is defined %}
                <small class="invalid-feedback">{{ errors.name }}</small>
                {%- endif %}
            </div>

            <div class="form-group">
                <input type="password"
                    class="form-control {% if errors.password is defined %} is-invalid{% endif %}"
                    name="password" id="password" placeholder="Room password"
                    {% if not running %}disabled{% endif %}>
                {%- if errors.password is defined %}
                <small class="invalid-feedback">{{ errors.password }}</small>
                {%- endif %}
            </div>
            <input type="submit" class="btn btn-primary {% if not running %}disabled{% endif %}"
                {% if not running %}style="pointer-events: none;" {% endif %} value="{{ _('Join') }}">

            {% else %}

            <!-- room.authentication == authentication.WHITELIST -->
            {% if user is none or user not in room.whitelisted_users %}
            <p>You do not have permission to join this event.</p>
            {% else %}
            <a href="{{ raven_join_url }}" class="btn btn-primary {% if not running %}disabled{% endif %}"
                {% if not running %}style="pointer-events: none;" {% endif %}>{{ _("Join") }}</a>
            {% endif %}
            
            {% endif %}
        </form>
    </div>
</div>
