{% extends "base.html" %}

{% block meta %}{% endblock %}

{% block body %}

  <p>You are about to delete {{ group.name }} ({{ group.short_name }}). <b>This cannot be undone.</b> <br />To confirm, type "{{ group.short_name }}" below.</p>

  <form method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div class="form-group-row">
      <label class="col-lg-2 col-md-3 col-sm-4 col-form-label" for="group_short_name"></label>
      <div class="col-lg-10 col-md-9 col-sm-8">
        <input type="text" id="group_short_name" name="group_short_name" class="group_delete_form form-control{% if errors.group_short_name is defined %} is-invalid{% endif %}" value="{{ group_short_name }}" required>
        {%- if errors.group_short_name is defined %}
          <small class="invalid-feedback">{{ errors.group_short_name }}</small>
        {%- endif %}
      </div>
    </div>
    <br />
    <a href="{{ url_for('rooms.manage', uid=group.uid) }}" class="btn btn-outline-primary">Go back</a>
    <input type="submit" class="btn btn-outline-danger float-right" value="Delete">
    <br />
  </form>
{% endblock %}
