{% extends "base.html" %}

{% block meta %}
<meta property="og:title" content="{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}" />
<meta property="og:type" content="website" />
{% if room.description %}
<meta property="og:description"
  content="{{ room.description | truncate(200) }}" />
{% else %}
  <meta property="og:description"
    content="{{ _("This is a website for event management using SRCF Timeout") }}" />
{% endif %}
<meta property="og:url" content="{{ request.base_url }}" />
{% set logo = 'images/' + room.logo %}
<meta property="og:image" content="{{ url_for('static', filename=logo) }}" />
{% endblock %}

{% block title %}
<title>{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}</title>
{% endblock %}

{% block static %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename=logo) }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ url_for('static', filename=logo) }}" rel="icon" type="image/svg">
{% endblock %}

{% block nav %}
<header></header>
{% endblock %}

{% block heading %}
<div></div>
{% endblock %}

{% block body %}

{% macro match_link(link) -%}
<!-- This isn't very readable, but I'm not sure if we can do enums in Jinja... -->
<li>
    {% if link.type == 1 %} <!-- Email address -->
    <i class="fa fa-li fa-envelope" title="Link {{link.id}}"></i>
    {% elif link.type == 2 %} <!-- Facebook -->
    <i class="fa fa-li fa-facebook-square" title="Link {{link.id}}"></i>
    {% elif link.type == 3 %} <!-- Twitter -->
    <i class="fa fa-li fa-twitter-square" title="Link {{link.id}}"></i>
    {% elif link.type == 4 %} <!-- Instagram -->
    <i class="fa fa-li fa-instagram" title="Link {{link.id}}"></i>
    {% elif link.type == 5 %} <!-- Youtube -->
    <i class="fa fa-li fa-youtube-play" title="Link {{link.id}}"></i>
    {% else %} <!-- Other -->
    <i class="fa fa-li fa-globe" title="Link {{link.id}}"></i>
    {% endif %}

    {% if link.type == 1 %} <!-- Email address -->
    <a href="mailto:{{ link.url }}">{{ link.url }}</a>
    {% else %}
    {% if link.url.startswith("https://") or link.url.startswith("http://") %}
    <a href="{{ link.url }}">{{ link.url}}</a>
    {% else %}
    <a href="http://{{ link.url }}">{{ link.url}}</a>
    {% endif %}
    {% endif %}
</li>
{%- endmacro %}

<div class="row">
    <div class="col-lg">
        <div class="card my-3 shadow-sm">
            <h4 class="card-header" style="margin-bottom: 0">{{ room.name }} </h4>
            <div class="card-body">
                {% if room.links) %}
                <ul class="fa-ul">
                    {% for link in room.links %}
                    {{ match_link(link) }}
                    {% endfor %}
                </ul>
                <hr>
                {% endif %}
                <div class="row no-gutters overflow-hidden">
                    {% if has_logo %}
                    {% set logo = 'images/' + room.logo %}
                    <div class="col-sm-auto mx-auto mx-md-0 d-flex align-items-center justify-content-center"
                        style="width:100%;max-width:150px;max-height:150px;">
                        <img class="img-fluid rounded" style="max-height:100%" src="{{ url_for('static', filename=logo) }}"
                            alt="Logo" role="img" aria-label="Placeholder: Thumbnail" />
                    </div>
                    {% endif %}
                    <div class="col-sm px-4 mt-3 mt-sm-0">
                        {% if room.description %}
                        <div class="sr-only mb-1 text-muted">{{ _("Roomou description") }}</div>
                        <div class="card-text mb-auto">
                            {% for paragraph in desc_paragraphs %}
                              {% if loop.index == desc_paragraphs | length %}
                              <!-- This is the last paragraph -->
                              <p class="mb-0">{{ paragraph }}</p>
                              {% else %}
                              <p>{{ paragraph }}</p>
                              {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card my-3 shadow-sm">
            <h5 class="card-header">Session times</h5>
            <div class="card-body">
                {% for n in range(1, sessions_data["days"] + 1) %}
                {% set ns = namespace(found=false) %}
                <h6 class="card-title">Day {{n}}</h6>
                <ul class="fa-ul">
                    {% for session in room.sessions %}
                    {% set ns.found = true %}
                    <li>
                        <i class="fa fa-li fa-clock-o" title="Session"></i>
                        {{ session["start"] }} - {{ session["end"] }}
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if not ns.found %}
                    <li>
                        <i class="fa fa-li fa-times" title="Session"></i>
                        There are no sessions at the moment.
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}

                <h6 class="card-title text-muted">Join the live session</h6>

                <form method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <input type="name"
                            class="form-control {% if errors.full_name is defined %} is-invalid{% endif %}"
                            name="full_name" id="full_name" placeholder="Enter your name..."
                            {% if not running %}disabled{% endif %}>
                        {%- if errors.full_name is defined %}
                        <small class="invalid-feedback">{{ errors.full_name }}</small>
                        {%- endif %}
                    </div>

                    <input type="submit" class="btn btn-primary {% if not running %}disabled{% endif %}"
                        {% if not running %}style="pointer-events: none;" {% endif %} value="{{ _('Join session') }}">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
