{% extends "base.html" %}

{% import 'rooms/macros/LinkList.html' as LinkList %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascripts/Sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/rooms.js') }}"></script>
{% endblock %}

{% macro submit_button() -%}
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Update">
</div>
{%- endmacro %}

{% block heading %}
<nav class="d-flex justify-content-between align-items-center">
{%- if page_title is defined %}
<h2>
    {%- if page_parent is defined %}
    <a href="{{ page_parent }}" title="Back"><i class="fa fa-arrow-left"></i></a>
    {%- endif %}
    {{ page_title }}
    {%- if page_subtitle is defined %}
    <small class="text-muted">{{ page_subtitle }}</small>
    {%- endif %}
</h2>
{%- endif %}
<a class="btn btn-secondary" href="{{ url_for("room_aliases.home", room_id=room.id) }}">View page</a>
</nav>
{% endblock %}

{% block body %}

<nav class="my-4">
    <div class="nav nav-tabs justify-content-center" id="nav-tab">
        <a class="nav-link active" id="nav-room-details-tab" data-toggle="tab" href="#nav-room-details"><i
                class="fa fa-fw fa-home mr-0 mr-md-1"></i><span class="d-none d-md-inline">Room details</span></a>
        <a class="nav-link" id="nav-room-times-tab" data-toggle="tab" href="#nav-room-times"><i
                class="fa fa-fw fa-clock-o mr-0 mr-md-1"></i><span class="d-none d-md-inline">Room times</span></a>
        <a class="nav-link" id="nav-room-features-tab" data-toggle="tab" href="#nav-room-features"><i
                class="fa fa-fw fa-cogs mr-0 mr-md-1"></i><span class="d-none d-md-inline">Room features</span></a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <form class="tab-pane fade show active" id="nav-room-details" method="post" enctype="multipart/form-data"
        action="{{url_for("rooms.update", room_id=room.id, update_type="room_details")}}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label for="name">{{ _("Room name") }}</label>
                        <input type="text" id="name" name="name" placeholder="e.g. Weekly Meeting"
                            class="form-control{% if errors.name is defined %} is-invalid{% endif %}" value="{{ name }}"
                            required>
                        {%- if errors.name is defined %}
                        <small class="invalid-feedback">{{ errors.name }}</small>
                        {%- endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="alias">Room alias</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="checkbox" name="alias_checked" id="alias_checkbox"
                                    {% if alias %}checked{% endif %}>
                            </div>
                        </div>
                        <input type="text" id="alias_input" name="alias"
                            class="form-control{% if errors.alias is defined %} is-invalid{% endif %}"
                            value="{{alias if alias}}" {% if not alias %}disabled{% endif %}>
                        {%- if errors.alias is defined %}
                        <small class="text-danger">{{ errors.alias }}</small>
                        {%- endif %}
                        <small class="form-text text-muted">Your room page is
                            <a
                                href="{{url_for("room_aliases.home", room_id=room.id, _external=True)}}">{{url_for("room_aliases.home", room_id=room.id, _external=True)}}</a>.
                            If you want a more
                            descriptive URL, you can request an alias.</small>
                        <small class="form-text text-muted">For example, if you set your alias to "srcf-talks", your
                            Room home page would be at
                            {{ url_for("room_aliases.home", room_alias="srcf-talks", _external=True) }}.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">{{ _("Room description") }}</label>
                    <textarea id="description" name="description" rows=2
                        class="form-control{% if errors.description is defined %} is-invalid{% endif %}">{{description if description}}</textarea>
                    {%- if errors.description is defined %}
                    <small class="invalid-feedback">{{ errors.description }}</small>
                    {%- endif %}
                    <small
                        class="form-text text-muted">{{ _("Optionally include more information about your room for your guests and yourself.") }}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Authentication</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="authentication"
                                id="authentication_public" value="public"
                                {% if authentication.value == "public" %}checked{% endif %}>
                            <label for="authentication_public">{{ _("Open to the public") }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="authentication" id="authentication_raven"
                                value="raven" {% if authentication.value == "raven" %}checked{% endif %}>
                            <label for="authentication_raven">{{ _("Raven users only") }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="authentication"
                                id="authentication_password" value="password"
                                {% if authentication.value == "password" %}checked{% endif %}>
                            <label for="authentication_password">{{ _("Use a password") }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="authentication"
                                id="authentication_whitelist" value="whitelist"
                                {% if authentication.value == "whitelist" %}checked{% endif %}>
                            <label for="authentication_whitelist">{{ _("Use a whitelist") }}</label>
                        </div>
                        <small class="form-text text-muted">Restrict who can join this room.</small>

                        <div id="auth_box_password" class="auth-box" style="display: none;">
                            <div class="form-group">
                                <br>
                                <label for="password">{{ _("Room Password: ") }}</label>
                                <h1><a href={{ url_for("rooms.new_password", room_id=room.id) }}
                                        class="badge badge-primary">{{ room.password }}</a></h1>
                                <small class="form-text text-muted">Anyone with this password will be able to join the
                                    meeting. Click to generate a new one.</small>
                                <br>
                            </div>
                        </div>

                        <div id="auth_box_whitelist" class="auth-box" style="display: none;">
                            <div class="form-group">
                                <br>
                                <label for="whitelist">{{ _("Whitelist a CRSid") }}</label>
                                <br>

                                {% if group %}

                                <!-- Group rooms -->
                                {% for user in room.whitelisted_users %}
                                <!-- Group owners can't be unwhitelisted -->
                                {% if user in group.owners %}
                                <button type="button" class="btn btn-primary btn-sm" disabled>{{ user.crsid }}</button>
                                {% else %}
                                <a href="{{ url_for('rooms.unwhitelist', room_id=room.id, crsid_to_remove=user.crsid) }}"
                                    type="button" class="btn btn-primary btn-sm">{{ user.crsid }}</a>
                                {% endif %}
                                {% endfor %}

                                {% else %}

                                <!-- Personal rooms -->
                                {% for user in room.whitelisted_users %}
                                <!-- Group owners can't be unwhitelisted -->
                                {% if user.id == room.user_id %}
                                <button type="button" class="btn btn-primary btn-sm" disabled>{{ user.crsid }}</button>
                                {% else %}
                                <a href="{{ url_for('rooms.unwhitelist', room_id=room.id, crsid_to_remove=user.crsid) }}"
                                    type="button" class="btn btn-primary btn-sm">{{ user.crsid }}</a>
                                {% endif %}
                                {% endfor %}

                                {% endif %}

                                <br><br>
                                <input type="text" id="whitelist" name="whitelist"
                                    class="form-control{% if errors.whitelist is defined %} is-invalid{% endif %}"
                                    value="{% if whitelist is not none %}{{ whitelist  }}{% endif %}">
                                {%- if errors.whitelist is defined %}
                                <small class="invalid-feedback">{{ errors.whitelist }}</small>
                                {%- endif %}
                                <small class="form-text text-muted">People with these CRSids will be able to join the
                                    meeting. Click to remove a CRSid. Group owners cannot be removed.</small>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="row">
            <article class="col mb-3">
                <h5>Room links</h5>
                {{ LinkList.render("links-list", room, errors)}}
            </article>
        </section>
        <section class="row">
            <article class="col d-flex justify-content-end">
                <div class="form-group mr-2">
                    <a href="{{ url_for('rooms.delete', room_id=room.id) }}"
                        class="btn btn-danger">{{ _("Delete room") }}</a>
                </div>
                {{submit_button()}}
            </article>
        </section>
    </form>
    <form class="tab-pane fade" id="nav-room-times" method="post"
        action="{{url_for("rooms.update", room_id=room.id, update_type="room_times")}}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

        <div class="card mb-3">
            <div class="card-body">
                <!-- TODO: this doesn't handle events that span multiple days -->
                <h5 class="card-title">Upcoming sessions</h5>
                {% if room.sessions %}
                {% for session in room.sessions %}
                {% if session.recur == recurrence.NONE %}
                <!-- One-off sessions -->
                <!-- Only show sessions in the future or those that ended fewer than two hours ago. -->
                {% if not session | ended_hours_ago(2) %}
                {% if session.start.date() != session.end.date() %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}"
                    class="badge badge-info">{{ session.start.strftime("%A %d %b %H:%M") }} &mdash;
                    {{ session.end.strftime("%A %d %b %H:%M") }}</a>
                {% else %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}"
                    class="badge badge-info">{{ session.start.strftime("%A %d %b %H:%M") }} &mdash;
                    {{ session.end.strftime("%H:%M") }}</a>
                {% endif %}
                {% endif %}
                {% elif session.until %}
                <!-- Recurring until a certain date -->
                {% if session.recur == recurrence.DAILY %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every day
                    starting on {{ session.start.strftime("%A %d %b") }} from {{ session.start.strftime("%H:%M") }}
                    &mdash; {{ session.end.strftime("%H:%M") }} until {{ session.until.strftime("%A %d %b") }}</a>
                {% elif session.recur == recurrence.WEEKDAYS %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every weekday
                    starting on {{ session.start.strftime("%A %d %b") }} from {{ session.start.strftime("%H:%M") }}
                    &mdash; {{ session.end.strftime("%H:%M") }} until {{ session.until.strftime("%A %d %b") }}</a>
                {% else %}
                <!-- recurrence.WEEKLY -->
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every
                    {{ session.start.strftime("%A") }} starting on {{ session.start.strftime("%d %b") }} from
                    {{ session.start.strftime("%H:%M") }} &mdash; {{ session.end.strftime("%H:%M") }} until
                    {{ session.until.strftime("%d %b") }}</a>
                {% endif %}
                {% elif session.count %}
                {% if session.recur == recurrence.DAILY %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every day
                    starting on {{ session.start.strftime("%A %d %b") }} from {{ session.start.strftime("%H:%M") }}
                    &mdash; {{ session.end.strftime("%H:%M") }} for {{ session.count }} days</a>
                {% elif session.recur == recurrence.WEEKDAYS %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every weekday
                    starting on {{ session.start.strftime("%A %d %b") }} from {{ session.start.strftime("%H:%M") }}
                    &mdash; {{ session.end.strftime("%H:%M") }} for {{ session.count }} days</a>
                {% else %}
                <!-- recurrence.WEEKLY -->
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every
                    {{ session.start.strftime("%A") }} starting on {{ session.start.strftime("%d %b") }} from
                    {{ session.start.strftime("%H:%M") }} &mdash; {{ session.end.strftime("%H:%M") }} for
                    {{ session.count }} weeks</a>
                {% endif %}
                {% else %}
                <!-- Recurring forever -->
                {% if session.recur == recurrence.DAILY %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every day from
                    {{ session.start.strftime("%H:%M") }} &mdash; {{ session.end.strftime("%H:%M") }}</a>
                {% elif session.recur == recurrence.WEEKDAYS %}
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every weekday
                    from {{ session.start.strftime("%H:%M") }} &mdash; {{ session.end.strftime("%H:%M") }}</a>
                {% else %}
                <!-- recurrence.WEEKLY -->
                <a href="{{ url_for('rooms.delete_session', id=session.id) }}" class="badge badge-info">Every
                    {{ session.start.strftime("%A") }} from {{ session.start.strftime("%H:%M") }} &mdash;
                    {{ session.end.strftime("%H:%M") }}</a>
                {% endif %}
                {% endif %}
                <small class="form-text text-muted">Click to remove a session.</small>
                {% endfor %}
                {% else %}
                <p class="mb-0">There are no sessions.</p>
                {% endif %}
            </div>
        </div>
        <section class="row">
            <article class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Start date</span>
                    </div>
                    <input type="date" id="start_date" name="start_date" placeholder="YYYY-MM-DD"
                        class="form-control{% if errors.start is defined %} is-invalid{% endif %}"
                        value="{% if start_date is not none %}{{ start_date }}{% endif %}" pattern="\d{2}\/\d{2}\/d{4}">
                    {%- if errors.start is defined %}
                    <small class="invalid-feedback">{{ errors.start }}</small>
                    {%- endif %}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Start time</span>
                    </div>
                    <input type="number" id="start_hour" name="start_hour" max="24" min="0" step="1"
                        class="form-control{% if errors.start is defined %} is-invalid{% endif %}"
                        value="{% if start_hour is not none %}{{ start_hour }}{% else %}00{% endif %}">
                    <div class="input-group-append">
                        <span class="input-group-text">:</span>
                    </div>
                    <input type="number" id="start_min" name="start_min" max="60" min="0" step="1"
                        class="form-control{% if errors.start is defined %} is-invalid{% endif %}"
                        value="{% if start_min is not none %}{{ start_min }}{% else %}00{% endif %}">
                </div>
            </article>
            <article class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">End date</span>
                    </div>
                    <input type="date" id="end_date" name="end_date" placeholder="YYYY-MM-DD"
                        class="form-control{% if errors.end is defined %} is-invalid{% endif %}"
                        value="{% if end_date is not none %}{{ end_date }}{% endif %}" pattern="\d{4}-\d{2}-\d{2}">
                    {%- if errors.end is defined %}
                    <small class="invalid-feedback">{{ errors.end }}</small>
                    {%- endif %}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">End time</span>
                    </div>
                    <input type="number" id="end_hour" name="end_hour" max="24" min="0" step="1"
                        class="form-control{% if errors.end is defined %} is-invalid{% endif %}"
                        value="{% if end_hour is not none %}{{ end_hour }}{% else %}00{% endif %}">
                    <div class="input-group-append">
                        <span class="input-group-text">:</span>
                    </div>
                    <input type="number" id="end_min" name="end_min" max="60" min="0" step="1"
                        class="form-control{% if errors.end is defined %} is-invalid{% endif %}"
                        value="{% if end_min is not none %}{{ end_min }}{% else %}00{% endif %}">
                </div>
                <small class="form-text text-muted">Use a 24-hour time format.</small>
            </article>
        </section>
        <section class="row">
            <article class="col-auto">
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input type="checkbox" id="recurring_checkbox" name="recurring" class="form-check-input"
                            {% if recurring %} checked{% endif %}>
                        Recurring?
                    </label>
                </div>
                <div id="recurring_box">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Repeat every</label>
                        </div>
                        <select class="custom-select {% if errors.frequency is defined %} is-invalid{% endif %}"
                            id="recurrence_select" name="frequency">
                            <option {% if frequency is not defined %}selected{% endif %}>Choose...</option>
                            <option {% if frequency == recurrence.DAILY.value %}selected{% endif %}
                                value="{{ recurrence.DAILY.value }}">day</option>
                            <option {% if frequency == recurrence.WEEKDAYS.value %}selected{% endif %}
                                value="{{ recurrence.WEEKDAYS.value }}">weekday</option>
                            <option {% if frequency == recurrence.WEEKLY.value %}selected{% endif %}
                                value="{{ recurrence.WEEKLY.value }}">week</option>
                        </select>
                        <div class="input-group-append">
                            <select class="custom-select {% if errors.limit is defined %} is-invalid{% endif %}"
                                id="limit_select" name="limit">
                                <option {% if limit is not defined %}selected{% endif %}>Choose...</option>
                                <option {% if limit == recurrence_type.FOREVER.value %}selected{% endif %}
                                    value="{{ recurrence_type.FOREVER.value }}">forever</option>
                                <option {% if limit == recurrence_type.UNTIL.value %}selected{% endif %}
                                    value="{{ recurrence_type.UNTIL.value }}">until...</option>
                                <option {% if limit == recurrence_type.COUNT.value %}selected{% endif %}
                                    value="{{ recurrence_type.COUNT.value }}">a certain number of times...</option>
                            </select>
                        </div>
                        {%- if errors.frequency is defined %}
                        <small class="invalid-feedback">{{ errors.frequency }}</small>
                        {%- endif %}
                        {%- if errors.limit is defined %}
                        <small class="invalid-feedback">{{ errors.limit }}</small>
                        {%- endif %}
                    </div>
                    <div class="limit_option" id="limit_box_until">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Until</span>
                            </div>
                            <input type="date" id="limit_until" name="limit_until" placeholder="YYYY-MM-DD"
                                class="form-control{% if errors.limit_until is defined %} is-invalid{% endif %}"
                                value="{% if limit_until is not none %}{{ limit_until }}{% endif %}"
                                pattern="\d{2}\/\d{2}\/d{4}">
                        </div>
                    </div>
                    <div class="limit_option" id="limit_box_count">
                        <div class="input-group">
                            <input type="number" id="limit_count" name="limit_count" min="2" max="99" step="1"
                                class="form-control{% if errors.limit_count is defined %} is-invalid{% endif %}"
                                value="{% if limit_count is not none %}{{ limit_count }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">times</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        {{submit_button()}}
    </form>
    <form class="tab-pane fade" id="nav-room-features" method="post"
        action="{{url_for("rooms.update", room_id=room.id, update_type="room_features")}}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
        <section class="row">
            <article class="col-md-6">
                <div class="form-group">
                    <label for="welcome_text">Welcome text</label>
                    <input type="text" id="welcome_text" name="welcome_text"
                        placeholder="e.g. Welcome to {{ room.name }}!"
                        class="form-control{% if errors.welcome_text is defined %} is-invalid{% endif %}"
                        value="{% if welcome_text is not none %}{{ welcome_text }}{% endif %}">
                    {%- if errors.welcome_text is defined %}
                    <small class="invalid-feedback">{{ errors.welcome_text }}</small>
                    {%- endif %}
                    <small class="form-text text-muted">This message will be shown to all users in the chat when
                        they
                        join your room.</small>
                </div>
                <div class="form-group">
                    <label for="banner_text">Banner</label>
                    <div class="input-group mb-3">
                        <input type="text" id="banner_text" name="banner_text" class="form-control"
                            placeholder="e.g. Welcome to {{ room.name }}!" aria-label="" aria-describedby="basic-addon1"
                            value="{% if banner_text is not none %}{{ banner_text }}{% endif %}">
                        <div class="input-group-append">
                            <input type="color" id="banner_color" name="banner_color" style="width: 50px"
                                class="input-group-text form-control{% if errors.banner_color is defined %} is-invalid{% endif %}"
                                value="{{ banner_color }}" required>
                        </div>
                    </div>
                    {%- if errors.banner_text is defined %}
                    <small class="text-danger">{{ errors.banner_text }}</small>
                    {%- endif %}
                    <small class="form-text text-muted">This is an optional field that will add a banner to the
                        top of your
                        room
                        with your chosen banner color.</small>
                </div>
            </article>
            <article class="col-md-6">
                <div class="form-check">
                    <input type="checkbox" name="mute_on_start" class="form-check-input" {% if mute_on_start %} checked
                        {% endif %}>
                    <label class="form-check-label">
                        Mute users on joining
                    </label>
                    {%- if errors.mute_on_start is defined %}
                    <small class="form-text text-danger">{{ errors.mute_on_start }}</small>
                    {%- endif %}
                </div>
                <div class="form-check">
                    <input type="checkbox" name="disable_private_chat" class="form-check-input"
                        {% if disable_private_chat %} checked{% endif %}>
                    <label class="form-check-label">
                        Disable private chat
                    </label>
                    {%- if errors.disable_private_chat is defined %}
                    <small class="form-text text-danger">{{ errors.disable_private_chat }}</small>
                    {%- endif %}
                    <small class="form-text text-muted">Prevent attendees from talking to each other
                        individually</small>
                </div>
            </article>
        </section>
        {{submit_button()}}
    </form>
</div>
{% endblock %}