{% extends "base.html" %}

{% block nav %}
<header></header>
{% endblock %}

{% block body %}

{% if not societies %}
<p>{{ _("There are no registered societies.") }}</p>
{% else %}
<p>This is the society directory for the SRCF Freshers' Fair.</p>
<div class="row mt-3">
    {% for society in societies %}
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-header" style="background-color: {{ society.banner_color }};">
            </div>
            <div class="card-body">
                <div id="card-intro" class="d-flex justify-content-between">
                    {% set current_logo = "images/{}".format(society.logo) %}
                    {% if society.logo != config["DEFAULT_LOGO"] %}
                    <div class="flex-shrink-0 ml-3 order-1 d-flex align-items-center justify-content-center"
                        style="width:10vmax;height:10vmax;max-width:112px;max-height:112px;">
                        <img class="img-fluid img-thumbnail" style="max-height:100%"
                            src="{{ url_for('static', filename=current_logo) }}" alt="Society logo" />
                    </div>
                    {% endif %}
                    <div>
                        <h4 style="overflow-wrap:anywhere;" class="card-title">{{ society.name }} <small
                                class="text-muted">{{ society.short_name }}</small>
                        </h4>
                        {% if running_meetings[society.bbb_id] %}
                        <ul class="fa-ul">
                            <li>
                                <i class="fa fa-li fa-video-camera"></i>
                                {{ _("Session in progress!") }}
                            </li>
                        </ul>
                        {% endif %}
                        {% if society.short_description %}
                        <p>{{ society.short_description }}</p>
                        {% elif society.description %}
                        <p>{{ society.description | truncate(200)}}</p>
                        {% endif %}
                    </div>
                </div>

                <a class="btn btn-outline-primary btn-sm stretched-link"
                    href="{{ url_for('society.welcome', uid=society.uid) }}">See more...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

<p>{{ _("Are you a stall manager? <a href=\"%(url)s\">Log in here.</a>", url=home_url) }}</p>

{% endblock %}