{% extends "base.html" %}

{% block meta %}{% endblock %}

{% block body %}
<form method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="soc_name">Society name</label>
        <input type="soc_name" id="soc_name" name="soc_name" placeholder="E.g. Student-Run Computing Facility"
            class="form-control{% if errors.soc_name is defined %} is-invalid{% endif %}" value="{{ soc_name }}"
            required>
        {%- if errors.soc_name is defined %}
        <small class="invalid-feedback">{{ errors.soc_name }}</small>
        {%- endif %}
        <small class="form-text text-muted">This is the full name of your society.</small>
    </div>

    <div class="form-group">
        <label for="soc_short_name">Society short name</label>
        <input type="soc_short_name" id="soc_short_name" name="soc_short_name" placeholder="E.g. SRCF"
            class="form-control{% if errors.soc_short_name is defined %} is-invalid{% endif %}"
            value="{{ soc_short_name }}" required>
        {%- if errors.soc_short_name is defined %}
        <small class="invalid-feedback">{{ errors.soc_short_name }}</small>
        {%- endif %}
        <small class="form-text text-muted">This is the short name or acronym unique to your society. Include "CU"
            if this is part of your short name. Your short name must not contain spaces. <b>You will not be able to
                change this once the society is registered.</b></small>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-outline-primary" value="Register">
    </div>
</form>


{% endblock %}