{% extends "base.html" %}

{% block body %}
<p>{{ _("Welcome, <b>%(crsid)s</b>! Before you start, you'll need to register an administrator account. This is for society stall managers <b>only</b>. If you are a visitor of the fair, please return to the <a href=\"https://cambridgesu.co.uk/\">freshers' fair main page.</a>", crsid=crsid) }}
</p>

{%- if errors.crsid %}
<small class="text-danger">{{ errors.crsid }}</small>
{%- endif %}

<form method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div class="form-group">
        <label for="full_name">Display name</label>
        <input type="text" name="full_name" id="full_name" placeholder="Your display name"
            class="form-control{% if errors.full_name is defined %} is-invalid{% endif %}" value="{{ full_name }}"
            required>
        {%- if errors.full_name is defined %}
        <small class="invalid-feedback">{{ errors.full_name }}</small>
        {%- endif %}
    </div>

    <div class="form-group">
        <label for="email_address">Email address</label>
        <input type="email_address" id="email_address" name="email_address" placeholder="Email address"
            class="form-control{% if errors.email_address is defined %} is-invalid{% endif %}"
            value="{{ email_address }}" required>
        {%- if errors.email_address is defined %}
        <small class="invalid-feedback">{{ errors.email_address }}</small>
        {%- endif %}
        <small class="form-text text-muted">This is the email address that the SRCF will use for communication about
            your account.</small>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" name="dpa" class="form-check-input" {% if dpa %} checked{% endif %} required>
        <label class="form-check-label">DPA confirmation</label>
        {%- if errors.dpa is defined %}
        <small class="form-text text-danger">{{ errors.dpa }}</small>
        {%- endif %}
        <small class="form-text text-muted">In creating your account, we store the above information. The Data
            Protection Act requires us to explicitly seek your permission to keep the above personal data on our
            server
            for the purposes of providing account facilities.</small>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" name="tos" class="form-check-input" {% if tos %} checked{% endif %} required>
        <label class="form-check-label">
            I accept the <a href=https://www.srcf.net/tos>Terms of Service</a>
        </label>
        {%- if errors.tos is defined %}
        <small class="form-text text-danger">{{ errors.tos }}</small>
        {%- endif %}
    </div>

    <div class="form-group form-row">
        <input type="submit" class="btn btn-outline-primary" value="Register">
    </div>

</form>
{% endblock %}