{% extends "base.html" %}

{% block body %}
  <form method="post">
    <label for="name">Your name</label>
    <input name=name id="name" value="Default name from lookup" required><br />
    <label for="email_address">Email address</label>
    <input name=email_address id="email_address" value="{{ crsid }}@cam.ac.uk" required><br />
    <label for="soc_name">Society name</label>
    <input name=soc_name id="soc_name" required><br />
    <label for="soc_short_name">Society short name / acronym</label>
    <input name=soc_short_name id="soc_short_name" required><br />
    <input type="submit" value="Register">
  </form>
{% endblock %}
