{% extends "base.html" %}

{% block body %}

<form method="post">

<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

<div class="form-row">
    <div class="col-md-6 px-5">
        <div class="form-group">
            <label for="full_name">Enter the name you would like to use in your stall:</label>
            <input type="full_name" id="full_name" name="full_name" placeholder="Your name" class="form-control" required>
            <!-- TODO: explain what it means to be a moderator. -->
            <small class="form-text text-muted">You will join the meeting as a moderator.</small>

            <br />

            {% if running %}
            <input type="submit" class="btn btn-outline-success" value="{{ _('Join session') }}">
            {% else %}
            <input type="submit" class="btn btn-outline-success" value="{{ _('Begin session') }}">
            {% endif %}

        </div>
    </div>
</div>

</form>

{% endblock %}
