{% extends "base.html" %}

{% import 'groups/macros/LinkList.html' as LinkList %}
{% from 'rooms/macros/LinkList.html' import match_link as match_link %}
{% import 'users/macros/group_room.html' as Room %}

{% block meta %}
<meta property="og:title"
    content="{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}" />
<meta property="og:type" content="website" />
{% if group.description %}
<meta property="og:description" content="{{ group.description | truncate(200) }}" />
{% else %}
<meta property="og:description" content="{{ _("This is a website for event management using SRCF Timeout") }}" />
{% endif %}
<meta property="og:url" content="{{ request.base_url }}" />
{% if group.logo is not none %}
<meta property="og:image" content="{{ group.logo | responsive_image.main }}" />
{% else %}
<meta property="og:image" content="{{ url_for('static', filename='favicon.svg') }}" />
{% endif %}
{% endblock %}

{% block title %}
<title>{% if page_title is defined %}{{ page_title }} &mdash; {% endif %} {{ _("SRCF Events") }}</title>
{% endblock %}

{% block static %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
{% if group.logo is not none %}
<link href="{{ group.logo | responsive_image.main }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ group.logo | responsive_image.main }}" rel="icon" type="image/svg">
{% else %}
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" sizes="16x16 24x24">
<link href="{{ url_for('static', filename='favicon.svg') }}" rel="icon" type="image/svg">
{% endif %}
{% endblock %}

{% block nav %}
<header></header>
{% endblock %}

{% block heading %}
<div></div>
{% endblock %}

{% block body %}

<section class="row">
    <article class="col-lg-6">
        <div class="card my-3 shadow-sm">
            <h4 class="card-header" style="margin-bottom: 0">{{ group.name }}</h4>
            <div class="card-body">
                {% if group.links %}
                <ul class="lbt-icon-ul mb-0">
                    {% for link in group.links %}
                    {{ match_link(link) }}
                    {% endfor %}
                </ul>
                {% endif %}
                {% if (group.links | selectattr("url") | first) and (group.logo or group.description) %}
                <hr>
                {% endif %}
                <div class="row no-gutters overflow-hidden">
                    {% if group.logo is not none %}
                    <div class="col-sm-auto mx-auto mx-md-0 d-flex align-items-center justify-content-center"
                        style="width:100%;max-width:150px;max-height:150px;">
                        <img class="img-fluid rounded" style="max-height:100%" {{ group.logo | responsive_image.img }}
                            alt="Logo" role="img" aria-label="Placeholder: Thumbnail" />
                    </div>
                    {% endif %}
                    <div class="col-sm px-4 mt-3 mt-sm-0">
                        {% if group.description %}
                        <div class="card-text mb-auto">
                            {% set desc_paragraphs = group.description.split('\n') %}
                            {% for paragraph in desc_paragraphs %}
                            {% if loop.index == desc_paragraphs | length %}
                            <!-- This is the last paragraph -->
                            <p class="mb-0">{{ paragraph }}</p>
                            {% else %}
                            <p>{{ paragraph }}</p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-lg-6">
        <div class="card my-3 shadow-sm">
            <section class="d-flex justify-content-between align-items-center card-header">
                <h5 style="overflow-wrap:anywhere;" class="mb-0">{{ group.name }}'s rooms
                </h5>
            </section>
            <div class="card-body">
                {% if group.rooms %}
                <div class="list-group">
                    {% for room in group.rooms %}
                    {{ Room.render(room, running_meetings[room.id]) }}
                    {% endfor %}
                </div>
                {% else %}
                <p>{{ _("There are no rooms to show.") }}</p>
                {% endif %}
            </div>
        </div>
    </article>

</section>

{% endblock %}
